/* src/app/otp-verification/otp-verification.component.css */
.container {
    
    max-width: 500px;
  }
  
  .card {
    margin-top: 55px;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn {
    margin-top: 10px;
  }
  