<div class="container-fluid" style="margin-top: 50px;">
  <div class="row">
    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="carousel-item d-flex align-items-center justify-content-center mt-5">
            <img class="img-fluid w-100"  src="../assets/Image/3.webp" alt="">
            <div class="carousel-caption text-center">
              <h2>Slide 1 Title</h2>
              <p>Description for Slide 1</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="carousel-item d-flex align-items-center justify-content-center mt-5">
            <img class="img-fluid w-100"  src="./assets/Image/2.jpg" alt="">
            <div class="carousel-caption text-center">
              <h2>Slide 2 Title</h2>
              <p>Description for Slide 2</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="carousel-item d-flex align-items-center justify-content-center mt-5">
            <img class="img-fluid w-100"  src="./assets/Image/1.jpg" alt="">
            <div class="carousel-caption text-center">
              <h2>Slide 3 Title</h2>
              <p>Description for Slide 3</p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>


<app-items></app-items>

<app-image-slider></app-image-slider>

