<div class="container " style="margin-top: 130px;">
    <h1>About SD Batter</h1>
    <p>SD Batter is a leading supplier of batters for idli and sambar in the region. We take pride in providing high-quality, authentic batters that are loved by our customers.</p>
    <p>In addition to our batters, we also offer a wide range of spices to enhance your culinary experience. Our spices are carefully selected and sourced to bring the best flavors to your dishes.</p>

    <h2>Our Mission</h2>
    <p>At SD Batter, our mission is to provide customers with top-notch products that elevate their cooking experience. We are dedicated to quality, taste, and customer satisfaction.</p>

    <h2>Contact Us</h2>
    <p>If you have any inquiries or would like to place an order, feel free to reach out to us at contactsdbatter.com or give us a call at 123-456-7890.</p>

</div>
