.container {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding:  20px;
}

.images-container {
    position: fixed;
    top: 200px;
    right: 30px;
}

.batter-image, .spices-image {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin: 10px;
}