<div class="app-container">
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/adminpanel/admin-home" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/adminpanel/orders" routerLinkActive="active">Orders</a></li>
      <li><a routerLink="/adminpanel/admin-product" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/adminpanel/admin-area" routerLinkActive="active">Area</a></li>
      <li><a routerLink="/adminpanel/admin-category" routerLinkActive="active">Category</a></li>
      <li><a routerLink="/adminpanel/admin-user" routerLinkActive="active">User</a></li>
      <li><a routerLink="/adminpanel/admin-coupon" routerLinkActive="active">Coupon</a></li>
  </ul>
</nav>